.container {
    padding: 1.5rem;
}


.programa__botao{
    align-self: center;
	background: var(--rosa);
	border: none;
	border-radius: 5px;
	color: var(--cinza_escuro);
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
    margin-top: 2rem;
	padding: 15px 0;
	transition: 1s all;
    width: 35%;
}

.botao__conversor___vol, .botao__conversor___mass, .botao__conversor___mat, .botao__conversor___temp{
    align-self: center; 
    cursor: pointer;
    transition: 1s all;
    border: none;
    background-color: var(--branco);
}


.botao__icone{
    width: 55%;
}