:root{   
    --bkg-primary: #fff;
    --bkg-secondary: #E1D0D0;
    
    --shadow-primary: 1px 1px 10px 1px rgba(97,98,102,0.52);
    --shadow-secondary: -1px 1px 10px 4px  rgba(225,208,208,0.59);
    /* --filter: invert(90%) sepia(6%) saturate(497%) hue-rotate(314deg) brightness(102%) contrast(76%); */
    --filter: invert(38%) sepia(8%) saturate(197%) hue-rotate(191deg) brightness(97%) contrast(94%);

    --border-primary: #5f9ea0; 
    --border-secondary : #9799A6;
    --radius: 8px; 

    --font: 'Roboto';
    --text-primary: #000;
    --text-secondary: #616266;
    --size-lg: 2em;
    --size-md: 1.5em;
    --size-rg: 1em;
    --size-sm: 0.75em;
    --wg-bold: 700;
    --wg-regular: 500;
    --wg-normal: 400;

    --sp-xg: 3.5rem;
    --sp-lg: 2rem;
    --sp-xm: 1.5rem;
    --sp-md: 1rem;
    --sp-rg: 0.75rem;
    --sp-sm: 0.5rem;
    --sp-xs: 0.25rem; 
}