@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('_reset.css');
@import url("_variaveis.css");
@import url('../style/Footer/footer.css');
@import url('../style/Header/header.css');
@import url('../style/Button/button.css');

*{
    font-size: 14px;
    box-sizing: border-box;
}
body{
    font-family: var(--font), sans-serif;
    font-weight: var(--wg-normal);
}




