.conteudo__principal{
    align-items: center;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    height: 100vh;
    padding: 40px 10px;
}
.conteudo__caixas{
    box-sizing: border-box;
	border: 5px solid var(--border-primary);
	border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px 10px;
}


.conteudo__caixas___titulo{
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
}

.conteudo__icone___conversor{
    background: url('../../../img/icone-conversor.png') no-repeat center/ 35%;
    height: 200px;
}

.conteudo__icone___solucao{
    background: url('../../../img/icone-solucao.png') no-repeat center / 25%;
    height: 200px;
}

.conteudo__icone___calculator{
    background: url('../../../img/logo.png') no-repeat center / 25%;
    height: 200px;
}

.conteudo__caixas___lista{
    align-items: center;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-evenly;
}

.caixas__link{
    border-bottom: 5.5px solid var(--border-secondary);
    box-sizing: border-box;
    color: var(--text-primary);
    font-size: 25px;
    flex-grow: 2;
    padding: 7.5px 50px;
    transition: .5s;
}

.caixas__link:hover{
    border-color: var(--border-secondary);
    font-size: 30px;
}