.field--conversor{
    border: 2px solid var(--border-secondary);
    display: block;
    height: 40px;
    padding: var(--sp-sm);
}
.field--solutions{
    display: block;
    border: 2px solid var(--border-secondary);
    padding: var(--sp-sm);
    width: 100%;
    margin: var(--sp-sm) 0;
}
.field--user{
    display: block;
    border: 2px solid var(--border-secondary);
    padding: var(--sp-sm);
    width: 100%;
    margin: var(--sp-sm) 0;
}
.field__unit--conversor{
    border: 2px solid var(--border-secondary);
    display: block;
    font-family: var(--font), sans-serif;
    margin-top: var(--sp-xs);
    padding: var(--sp-sm);
}
.field__legend{
    font-size: var(--size-md);
    font-weight: var(--wg-regular);
}
.field__output{
    align-self: center;
    height: 50px;
    padding-top: var(--sp-md);
    font-size: var(--size-md);
    color: var(--text-secondary);
}
.field--invalid{
    border: 2px solid var(--border-error);
}
.field--valid{
    border: 2px solid var(--border-valid);
}