@media screen and (max-width: 768px){
    .menu__secundario, .menu__principal, .menu__lista{
        flex-direction:column;
   }
    .menu__lista{
        text-align: center;
    }
    .menu-principal__lista___link{
        margin-right: 5px;
    }
    .logo{
        align-self: center;
    }

    .descricao{
        padding: 7.5px;
        margin: 7.5px;
    }

    .input{
        padding: 0;
    }
    .programa__input{
        flex-direction: column;
        padding: 0;
    }
    .programa__legenda{
        padding: 0;
    }
    .programa__valor{
        display: block;
        width: auto;
    }
}

@media screen and (max-width: 1175px){
    .input{
        padding: 0;
    }
    .programa__input{
        flex-direction: column;
        padding: 0;
    }
    .programa__legenda{
        padding: 0;
    }
    .programa__valor{
        display: block;
        width: auto;
}