.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.menu__list{
    display: flex;
    align-items: center;
}
.menu__list > .menu__list___item:nth-child(even){
    margin: 0 var(--sp-rg);
}
.menu__list___link{
    color: var(--text-secondary);
    text-decoration: underline;
}
.menu__secondary{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -60%;
    left: 2%;
} 


