@media screen and (max-width: 768px){
    .conteudo__principal{
        display: flex;
        flex-direction: column;
    }
    .conteudo__caixas{
        width: 100%;
    }
    .conteudo__icone___conversor, .conteudo__icone___solucao, .conteudo__icone___calculator{
        background: none;
        height: 0;
    }
    .caixas__link{
        border-bottom: 2.5px solid var(--border-secondary);
        font-size: 18px;
        padding: 7.5px;
    }
}