.logo {
    width: 5.5rem;
}

.menu{
    width: 50%;
    padding-left: 1.5rem;
}

.menu__lista{
    display: flex;
    justify-content: right;
}

.menu-principal__lista___link {
	border: 2.5px solid var(--cinza_escuro);
    border-radius: 5px;
    color: var(--preto);
	display: block;
    font-size: 20px;
	margin-bottom: 5px;
    margin-right: 20px;
	padding: 7.5px;
    transition: .5s;
}

.menu-principal__lista___link:hover{
    border-color: var(--azul);
    text-decoration: underline;
    transform: scale(1.2);
}

.menu__principal{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 5px;
    background: var(--rosa);
}

.menu__secundario{
    display: flex;
    justify-content: left;
    padding-top: 5px;
    padding-left: 5px;
}


