.programa{
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
    
}

.programa__conversor{
    display: grid;
    grid-row: 1/5;
    justify-content: center;
    padding: 10px 10px;
}

.input__conversor{
    display: grid;
    grid-template-columns: 20% 27% 15% 27%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--cinza_escuro);
}

.programa__out___conversor{
    width: 150px;
    height: 35px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    box-sizing: border-box;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: var(--cinza)
}

.programa__campo{
    width: 25% ;
    padding: none;
    border: none;
}

.programa__legenda{
    font-size: 20px;
    padding-left: 15rem;
}

.programa__valor{
    display: block-inline;
	margin: 0 0 15px;
	padding: 10px 15px;
	width: 300px;
}

.programa__valor___conversor{
    width: 150px;
    height: 35px;
}

.programa__input{
    display: flex;
    justify-content: space-between;
    /* padding: 0 2.5rem; */
    padding-right: 15rem;
}

.programa__input___conversor{
    padding: none;
}

.programa__resposta{
    font-size: 25px;
    padding-top: 2.5rem;
    text-align: center;
}

.h3{
    justify-content: center;
    text-align: center;
}